/*
* CSS code for altering look of Program 
* @author - Frank Luo
* Sources used:
* https://www.w3schools.com/colors/colors_shades.asp 
* https://www.w3schools.com/cssref/pr_background-color.php 
* https://www.w3schools.com/css/css_font.asp 
* https://developer.mozilla.org/en-US/docs/Web/CSS/background-color 
* https://www.w3.org/Style/Examples/007/fonts.en.html
*/

/*
* Properties for body
*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #b5cfbb; /* Light green color*/
    color: #333;
}

/*
* Properties for site title
*/
.site-title {
    text-align: center;
    font-size: 32px;
    margin: 1em 0;
}

/*
* Properties for header
*/
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

/*
* Properties for header nav
*/
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start; 
}

/*
* Properties for header nav
*/
header nav ul li {
    padding: 0 10px;
}

/*
* Properties for header nav
*/
header nav ul li a {
    color: white;
    text-decoration: none;
}

/*
* Properties for header nav
*/
header nav ul li a:visited {
    color: rgb(255, 255, 255);
}

/*
* Properties for main
*/
main {
    padding: 20px;
}

/*
* Properties for travel item
*/
.travel-item {
    display: flex;
    margin-bottom: 40px; /* Adjust as needed */
}

/*
* Properties for travel photo
*/
.travel-photo, .travel-description {
    flex: 1;
}

/*
* Properties for travel photo
*/
.travel-photo img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
}

/*
* Properties for travel description
*/
.travel-description {
    padding: 0 20px; 
}

/*
* Properties for reverse travel photo
*/
.reverse .travel-photo {
    order: 2;
}

/*
* Properties for reverse travel description
*/
.reverse .travel-description {
    order: 1;
}

/*
* Properties for footer
*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 40px; 
}
